.header, .footer {
    background-color: aquamarine;
    height: 10vh;
}

.left-sidebar, .right-sidebar {
    background-color: azure;
    height: 80vh;
}

.main-page {
    background-color: beige;
}

.color-select{
    margin: .5em 0;
}
